<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Product</title>
  </head>
  <body>
    <h1>Edit Product</h1>
    <form action="/product/<%= product._id %>?_method=PUT" method="post">
      <label for="name">Name :</label>
      <input type="text" name="name" id="name" value="<%= product.name %>" />
      <label for="brand">Brand :</label>
      <input type="text" name="brand" id="brand" value="<%= product.brand %>" />
      <label for="color">Color :</label>
      <input type="text" name="color" id="color" value="<%= product.color %>" />
      <label for="price">Price : </label>
      <input
        type="number"
        name="price"
        id="price"
        value="<%= product.price %>"
      />
      <label for="category">Category :</label>
      <select name="category" id="category">
        <option value="">Choice Category</option>
        <option value="Accessories" <%= product.category == 'Accessories' ? 'selected' : '' %>>Accessories</option>
        <option value="Clothes" <%= product.category == 'Clothes' ? 'selected' : '' %>>Clothes</option>
        <option value="Pants" <%= product.category == 'Pants' ? 'selected' : '' %>>Pants</option>
        <option value="Shoe" <%= product.category == 'Shoe' ? 'selected' : '' %>>Shoe</option>
        <option value="Hat" <%= product.category == 'Hat' ? 'selected' : '' %>>Hat</option>
        <option value="Jacket" <%= product.category == 'Jacket' ? 'selected' : '' %>>Jacket</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
